# ===== Telegram =====
# Получить токен: @BotFather → /newbot
VITE_TELEGRAM_BOT_TOKEN=

# Получить chat_id: https://api.telegram.org/bot<ТОКЕН>/getUpdates
VITE_TELEGRAM_CHAT_ID=

# ===== Web3Forms (резервный канал) =====
# Получить ключ: https://web3forms.com/
VITE_WEB3FORMS_ACCESS_KEY=

# ===== Метрики =====
VITE_YANDEX_METRIKA_ID=

# ===== hcaptcha =====
VITE_HCAPTCHA_SITEKEY=